* { margin: 0; padding: 0; font-size: small; font-family: "Verdana"; }

.header { width: 800px; margin: 0 auto; }
.header h1 { height: 70px; padding-top: 10px; }
.header a { text-decoration: none; font-size: 240%; font-weight: normal; font-variant: small-caps; color: #5B5948; }
.header h1 img { float: left; margin: 0px 5px 5px 5px; }
.header span { font-size: 80%; color: green; display: block; margin: -7px 0 0 0; color: #C4B600; }
.header .main-image { margin: 5px 0; }

.main-page { width: 800px; margin: 0 auto; }
h2 { font-variant: small-caps; font-size: 150%; color: #5E5B43; font-weight: normal; margin: 0 0 15px 0; }
h3 { font-variant: small-caps; font-size: 120%; color: #5E5B43; font-weight: normal; margin: 0 0 15px 0; }

.aside { float: left; width: 200px; }
.aside .nav a, .aside .nav span { width: 170px;  color: #fff; display: block; line-height: 25px; padding: 0 0 0 10px; }
.aside .nav a { text-decoration: none; color: #C4B600; }
.aside .nav span { background-color: #C4B600; }
.aside .nav li { list-style-type: none; margin: 0 0 5px 0; }
.aside .nav .sub-link a, .aside .nav .sub-link span { width: 140px; }
.aside .nav .sub-link { margin: 0 0 0 30px; }

.last-news { margin: 20px 15px 0 0px; }
.last-news li { list-style-type: none; margin: 0 0 20px 0; padding: 0; line-height: 25px; font-style: italic; font-size: 80%; color: #666; }
.last-news a { text-decoration: none; color: #C4B600; font-size: 100%; }
.last-news img { margin: 20px 50px; }

.breadcrumbs { margin: 0 0 10px 0; }
.breadcrumbs li { display: inline; color: #5B5948; }
.breadcrumbs span, .breadcrumbs a { font-variant: small-caps; font-size: 130%; }
.breadcrumbs a { color: #C4B600; text-decoration: none; margin: 0 5px 0 0; }

.content { margin: 0 0 0 200px; }
.content p { line-height: 30px; color: #5B5948; font-size: 90%; margin: 0 0 20px 0; }
.content a { text-decoration: none; color: #C4B600; font-size: 100%; }

.list { margin: 0 0 15px 0; }
.list li { list-style-type: none; }
.list li span { font-variant: small-caps; font-size: 150%; color: #5E5B43; font-weight: normal; margin: 15px 0 15px 15px; display: block; }
.content .list li span { font-size: 160%; }
.list li li {  margin: 0 0 10px 0; display: inline-block; }
.list li li a { line-height: 25px; padding: 8px 16px; color: #fff; }
.light li { background-color: #C4B600; }
.dark li { background-color: #5B5948; }

.content ul { margin: 0 0 20px 20px; }
.content ul li { font-size: 90%; line-height: 30px; color: #C4B600; }
.content ul span { color: #5B5948; font-size: 100%; }

.aside-links { float: right; margin-left: 30px; }
.aside-links ul { margin: 0; border-top: 1px solid #5B5948; background-color: #C4B600; padding: 5px 0 5px 0; z-index: 2; position: relative; top: -10px; -webkit-border-bottom-left-radius: 7px; -webkit-border-bottom-right-radius: 7px; -moz-border-radius-bottomleft: 7px; -moz-border-radius-bottomright: 7px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px; }
.aside-links li { list-style-type: none; margin: 0; padding: 0; height: 25px; }
.aside-links li a { width: 100%; color: #fff; padding: 2px 4px; }
.aside-left-links img, .aside-links img { vertical-align:middle; border-radius:7px; -webkit-border-radius:7px; -moz-border-radius:7px; box-shadow:0 1px 1px rgba(0,0,0,.4); -webkit-box-shadow:0 1px 1px rgba(0,0,0,.4); -moz-box-shadow:0 1px 1px rgba(0,0,0,.4); z-index: 3; }
.aside-left-links { float: left; margin-right: 30px; }

.link-list li { color: #5B5948; }

.vcard { margin: 0 0 20px 0; }
.vcard p { margin: 0; font-size: 90%; }
.vcard span { font-size: 100%; }

.footer { background-color: #5B5948; color: #fff; margin: 0 0 20px 200px; line-height: 30px; text-align: center; }
